.info {
  :global {
    .container {
      display: flex;
      justify-content: space-between;
    }
  }
}

.title {
  max-width: 460px;
  color: var(--black, #1D1D1B);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 38.4px */
}

.right {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.buttonWrap {
  display: flex;
  align-items: center;
}

.button {
  display: flex;
  padding: 10px 37px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  color: var(--gray_01, #A4ADAC);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.buttonActive {
  background: var(--black, #1D1D1B);
  color: var(--white, #FFF);
}

.dsc {
  max-width: 560px;
  color: var(--black, #1D1D1B);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 145.455% */
}