@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-onest: 'Onest', Inter, sans-serif;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;

  --White: #FFFFFF;
  --Black: #1D1D1B;
  --Gray-01: #A4ADAC;
  --Gray-02: #D6DBDB;
  --Gray-03: #E8EDEE;
  --Gray-04: #F2F6F6;
  --Orange: #FF5900;
  --Dark-orange: #E0570E;
  --Error-color: #FF4026;
}

body {
  padding-top: 32px;
  color: var(--Black);
  background: var(--Gray-03);
  font-family: --font-onest, Inter, sans-serif;
}

.container {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

.orange-button {
  color: var(--White, #FFF);
  background: var(--Orange, #FF5900);


  &:hover {
    background: var(--Dark-orange, #E0570E);
  }

  &:active {
    background: var(--Dark-orange, #E0570E);
  }
}

.black-button {
  background: var(--Black, #1D1D1B);
  color: var(--White, #FFF);

  &:hover {
    background: var(--Gray-01, #A4ADAC);
  }
}

