@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-onest: 'Onest', Inter, sans-serif;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;

  --White: #FFFFFF;
  --Black: #1D1D1B;
  --Gray-01: #A4ADAC;
  --Gray-02: #D6DBDB;
  --Gray-03: #E8EDEE;
  --Gray-04: #F2F6F6;
  --Orange: #FF5900;
  --Dark-orange: #E0570E;
  --Error-color: #FF4026;
}

body {
  color: var(--Black);
  background: var(--Gray-03);
  font-family: --font-onest, Inter, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
